doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="UTF-8")
    block title
      title Home | NISER - Sports Club
    meta(name="description", content="Sports Club of National Institute of Sciencce Education and Research, Bhubaneswar")
    meta(name="author", content="Abhishek Anil Deshmukh")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(rel="stylesheet", href="/css/style.css")
    //- [if lt IE 9]
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    //- [endif]
    link(rel="shortcut icon" href="")
    block headVendor
    script(src="/js/main.js")
    block head
  body
    block body
    // footer
      // |Made with ♥ by
      // |
      // a(href="https://deshmukh.ml") Abhishek Anil Deshmukh
