extends include/base

block  title
  title NISER | Student Gymkhana

block body
  a(href="index.html")
    .card.back
      svg.bi.bi-arrow-left-short(width='2em' height='2em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' d='M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z')
        path(fill-rule='evenodd' d='M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z')
  .container
    .card.img-overlay.text-black
      img(src="./static/images/gymkhana.jpg").card-img
      .card-img-overlay
        h1
          br
          |NISER Student Gymkhana
    .row
      #president.col-12
        .card.gymkhana
          .card-body
            img(src="https://via.placeholder.com/70")
            h2 President
            p.text-muted Name of the president
            .row
              .col-lg-6
                ul
                  li Responsibility one
                  li Responsibility
                  li Responsibility two
                  li Responsibility three
              .col-lg-6
                ul
                  li Work two
                  li Work two
                  li Work two
                  li Work two
      #campus-secretary.col-lg-6
        .card.gymkhana
          .card-body
            img(src="https://via.placeholder.com/70")
            h2 Campus Secretary
            p.text-muted Name of the campus secretary
            ul
              li Responsibility one
              li Responsibility
              li Responsibility two
              li Responsibility three
      #sports-secretary.col-lg-6
        .card.gymkhana
          .card-body
            img(src="https://via.placeholder.com/70")
            h2 Sports Secretary
            p.text-muted Name of the sport secretary
            ul
              li Responsibility one
              li Responsibility
              li Responsibility two
              li Responsibility three
      #culture-secretary.col-lg-6
        .card.gymkhana
          .card-body
            img(src="https://via.placeholder.com/70")
            h2 Cultural Secretary
            p.text-muted Name of the cultural secretary
            ul
              li Responsibility one
              li Responsibility
              li Responsibility two
              li Responsibility three
      #treasurer.col-lg-6
        .card.gymkhana
          .card-body
            img(src="https://via.placeholder.com/70")
            h2 Treasurer
            p.text-muted Name of the treasurer
            ul
              li Responsibility one
              li Responsibility
              li Responsibility two
              li Responsibility three
