extends include/base

block title
  title Home | NISER - Sports Club

block append body
  #index-heading
    img(src="./static/images/blue_logo.png")
    #index-heading-text
      h1 NISER Student Affairs
      p
        |the address
        br
        |for a few lines
        br
        |and one more
  .container
    .row
      .col-lg-3.col-md-5.col-sm-7.col-7
        .card
          .card-body Students
        .card
          .card-body Alumni
        .card
          .card-body Forms for Students
        .card
          .card-body Anti-ragging Information
      .col-lg-3.col-md-5.col-sm-8.col-8
        .card
          .card-body Dosa
        .card
          .card-body
            Student Campus Life
        .card
          .card-body
            Who to contact when you run info issues?
        .card
          .card-body
            SC-ST-OBC Cell and info
      .col-lg-3.col-md-5.col-sm-7.col-7
        a(href="./gymkhana.html")
          .card.img-overlay
            img(src="./static/images/gymkhana.jpg").card-img
            .card-img-overlay
              h3 Student Gymkhana
        a(href="./sports_and_yoga.html")
          .card.img-overlay
            img(src="./static/images/sports.png")
            .card-img-overlay
              h3 Sports and Yoga Club
        .card
          .card-body Women's Cell & info
        a(href="#")
          .card.img-overlay.text-white
            img(src="./static/images/science.jpg")
            .card-img-overlay
              h3 Science and mathematics club
      .col-lg-3.col-md-5.col-sm-8.col-8
        .card
          .card-body Club Information
        .card
          .card-body Gallery
        a(href="#")
          .card.img-overlay.text-white
            img(src="./static/images/art.jpg")
            .card-img-overlay
              h3 Arts and Culture Club
        .card
          .card-body Councelling Cell for Students
      .col-lg-3.col-md-5.col-sm-15.col-15
        .card#news-card
          .card-body
            h3.mb-4 News/Events
            a(href="#")
              h3 News heading
              p.text-muted News text coz why not you know
            a(href="#")
              h3 News heading
              p.text-muted News text coz why not you know a little more to see how long text responds
        .card
          .card-body Structure and disciplinary actions and the commitee
